option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 3
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: true
    MinInstancesInService: 1
    MaxBatchSize: 1
    RollingUpdateType: Health
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080